In [53]:
from snowflake.connector.pandas_tools import pd_writer
import snowflake.connector
import snowflake.connector.pandas_tools as pt
import pandas as pd
from sqlalchemy import create_engine
import pandas_market_calendars as mcal

#Create connection to Snowflake using your account and user

account_identifier = 'fqxxtxo-frb49582'
user = 'eugenem'
password = 'Sylvina123!'
database_name = 'SYLVINA'
schema_name = 'DBO'

conn_string = f"snowflake://{user}:{password}@{account_identifier}/{database_name}/{schema_name}"
engine = create_engine(conn_string)

In [55]:

nyse_cal = mcal.get_calendar('NYSE')

window_cal= nyse_cal.schedule(start_date=pd.Timestamp("1972-01-01"), end_date = pd.Timestamp("2024-12-31"))
valid_days = mcal.date_range(window_cal, frequency='1D').date

df_sql = pd.DataFrame(valid_days, columns=['MARKETDATE'])
df_sql.reset_index()


display ( df_sql.head() )
display ( df_sql.tail() )

   MARKETDATE
0  1972-01-03
1  1972-01-04
2  1972-01-05
3  1972-01-06
4  1972-01-07

       MARKETDATE
13359  2024-12-24
13360  2024-12-26
13361  2024-12-27
13362  2024-12-30
13363  2024-12-31

In [56]:
        
#What to do if the table exists? replace, append, or fail?

if_exists = 'replace'

#Write the data to Snowflake, using pd_writer to speed up loading

with engine.connect() as con:
        df_sql.to_sql(name="nyse_dates", con=con, if_exists=if_exists, method=pd_writer, index=False)

In [57]:
# Gets the version
ctx = snowflake.connector.connect(
    user='eugenem',
    password='Sylvina123!',
    account='fqxxtxo-frb49582', #.snowflakecomputing.com'
    database='QAI',
    warehouse='FASTERWH'
    )
pt.write_pandas(ctx,df_sql, "NYSE_DATES", "SYLVINA","DBO")

(True,
 1,
 13364,
 [('ydkevdbatw/file0.txt',
   'LOADED',
   13364,
   13364,
   1,
   0,
   None,
   None,
   None,
   None)])