In [2]:
%reload_ext autoreload
%autoreload 2

import os
os.environ["RD_LIB_CONFIG_PATH"] = "../../Configuration"

import refinitiv.data as rd
from refinitiv.data.content import symbol_conversion

import time
import math
import pandas as pd
import numpy as np
from datetime import datetime


import mysql.connector as mysql

from queue import Queue
from threading import Thread

import pandas_market_calendars as mcal


import importlib
import warnings

warnings.simplefilter(action='ignore', category=UserWarning)

# My library

import utils.fidatabase as fi

#import utils.variant_callback as vc

In [3]:
rd.open_session()
db = fi.ConnectToDb()

In [4]:

rics_of_interest = fi.getSPYList(rd, pd.Timestamp.today().date())


print(rics_of_interest)

Joined twice: HET.N^A08
Deleting added ref HET.N^A08
Joined twice: ROK.N
Deleting added ref ROK.N
Joined twice: MII.N^F99
Deleting added ref MII.N^F99
Joined twice: FJ.N^K00
Deleting added ref FJ.N^K00
Joined twice: RX.N^C10
Deleting added ref RX.N^C10
Joined twice: MWW.N^K16
Deleting added ref MWW.N^K16
Joined twice: PEG.N
Deleting added ref PEG.N
Joined twice: PARA.OQ
Deleting added ref PARA.OQ
Joined twice: JCI.N
Deleting added ref JCI.N
Not found to remove!:  FTI.N
['CPB.N', 'COST.OQ', 'AXP.N', 'PCAR.OQ', 'CLX.N', 'AAPL.OQ', 'HON.OQ', 'NWL.OQ', 'BMY.N', 'T.N', 'AIG.N', 'TXN.OQ', 'EIX.N', 'SWK.N', 'GLW.N', 'IBM.N', 'MS.N', 'AMGN.OQ', 'UNP.N', 'GE.N', 'BA.N', 'EXC.OQ', 'PH.N', 'NSC.N', 'MCD.N', 'K.N', 'ITW.N', 'PG.N', 'D.N', 'HPQ.N', 'XOM.N', 'BKR.OQ', 'BALL.N', 'ROK.N', 'APD.N', 'CSX.OQ', 'LUV.N', 'LOW.N', 'WMB.N', 'SLB.N', 'CL.N', 'HES.N', 'COP.N', 'MSFT.OQ', 'IP.N', 'ETN.N', 'WFC.N', 'MMM.N', 'TRV.N', 'ECL.N', 'LLY.N', 'CAT.N', 'TAP.N', 'JPM.N', 'BDX.N', 'AVY.N', 'WMT.N', 'GL.N', 'MU.OQ', 'GD.N', 'XEL.OQ', 'DIS.N', 'FDX.N', 'DE.N', 'BFb.N', 'MRO.N', 'ADP.OQ', 'LNC.N', 'HWM.N', 'SYY.N', 'WY.N', 'NEE.N', 'CI.N', 'SO.N', 'KMB.N', 'GIS.N', 'INTC.OQ', 'MSI.N', 'DTE.N', 'UNH.N', 'ETR.N', 'CSCO.OQ', 'HAL.N', 'IFF.N', 'PKI.N', 'BBWI.N', 'HSY.N', 'KR.N', 'MO.N', 'PFE.N', 'MMC.N', 'CMI.N', 'WBA.OQ', 'NUE.N', 'NEM.N', 'WHR.N', 'F.N', 'TGT.N', 'PPG.N', 'NKE.N', 'KO.N', 'PEP.OQ', 'VFC.N', 'NOC.N', 'HD.N', 'DUK.N', 'VZ.N', 'ADM.N', 'SNA.N', 'JNJ.N', 'PNC.N', 'KEY.N', 'IPG.N', 'OXY.N', 'CAG.N', 'ADSK.OQ', 'MDT.N', 'EMN.N', 'GWW.N', 'EMR.N', 'ED.N', 'ORCL.N', 'DOV.N', 'CVX.N', 'MAS.N', 'TJX.N', 'SHW.N', 'AEP.OQ', 'BAX.N', 'RTX.N', 'LIN.N', 'MAR.OQ', 'GPC.N', 'CNP.N', 'MRK.N', 'PHM.N', 'PEG.N', 'BAC.N', 'HAS.OQ', 'SPGI.N', 'PARA.OQ', 'ABT.N', 'TXT.N', 'BSX.N', 'LMT.N', 'AMAT.OQ', 'BK.N', 'L.N', 'DRI.N', 'ALL.N', 'USB.N', 'FCX.N', 'PPL.N', 'HUM.N', 'CMA.N', 'HIG.N', 'FITB.OQ', 'AON.N', 'CVS.N', 'TMO.N', 'AZO.N', 'ADBE.OQ', 'CAH.N', 'SCHW.N', 'EFX.N', 'APA.OQ', 'PGR.N', 'HBAN.OQ', 'STT.N', 'KLAC.OQ', 'YUM.N', 'FE.N', 'TFC.N', 'CINF.OQ', 'OMC.N', 'AEE.N', 'NTRS.OQ', 'SEE.N', 'BEN.N', 'SRE.N', 'COF.N', 'WM.N', 'RF.N', 'PAYX.OQ', 'AES.N', 'C.N', 'DHR.N', 'CCL.N', 'MCK.N', 'CMS.N', 'AFL.N', 'NTAP.OQ', 'BBY.N', 'VMC.N', 'QCOM.OQ', 'PNW.N', 'ADI.OQ', 'TROW.OQ', 'A.N', 'SBUX.OQ', 'DVN.N', 'MCO.N', 'EOG.N', 'NI.N', 'RHI.N', 'INTU.OQ', 'MET.N', 'SYK.N', 'CTAS.OQ', 'FISV.OQ', 'ZION.OQ', 'ZBH.N', 'ABC.N', 'NVDA.OQ', 'EQR.N', 'WAT.N', 'SPG.N', 'GS.N', 'PFG.OQ', 'EA.OQ', 'UPS.N', 'PRU.N', 'EBAY.OQ', 'ELV.N', 'CMCSA.OQ', 'DGX.N', 'MKC.N', 'GEN.OQ', 'BIIB.OQ', 'MTB.N', 'VTRS.OQ', 'VLO.N', 'GILD.OQ', 'TPR.N', 'LH.N', 'DHI.N', 'STZ.N', 'TSN.N', 'PSA.N', 'AMP.N', 'LEN.N', 'AMZN.OQ', 'EL.N', 'VRSN.OQ', 'KIM.N', 'GOOGL.OQ', 'BXP.N', 'JNPR.N', 'CME.OQ', 'CBRE.N', 'FIS.N', 'CTSH.OQ', 'AVB.N', 'RL.N', 'CHRW.OQ', 'HST.OQ', 'MDLZ.OQ', 'AIZ.N', 'DFS.N', 'AKAM.OQ', 'MCHP.OQ', 'ICE.N', 'EXPE.OQ', 'EXPD.OQ', 'J.N', 'AMT.N', 'PM.N', 'PEAK.N', 'ISRG.OQ', 'CTRA.N', 'MA.N', 'DVA.N', 'IVZ.N', 'CF.N', 'FAST.OQ', 'CRM.N', 'LHX.N', 'PXD.N', 'APH.N', 'NDAQ.OQ', 'WEC.N', 'SJM.N', 'XRAY.OQ', 'WYNN.OQ', 'RSG.N', 'IRM.N', 'WELL.N', 'VTR.N', 'HRL.N', 'ES.N', 'ORLY.OQ', 'PWR.N', 'WDC.OQ', 'FMC.N', 'BKNG.OQ', 'V.N', 'ROST.OQ', 'ROP.N', 'NRG.N', 'BRKb.N', 'WBD.OQ', 'OKE.N', 'KMX.N', 'CB.N', 'JCI.N', 'TT.N', 'FFIV.OQ', 'NFLX.OQ', 'EW.N', 'BLK.N', 'CMG.N', 'PLD.N', 'MPC.N', 'ACN.N', 'MOS.N', 'TEL.N', 'XYL.N', 'DLTR.OQ', 'BWA.N', 'CCI.N', 'PSX.N', 'KMI.N', 'LRCX.OQ', 'MNST.OQ', 'STX.OQ', 'LYB.N', 'PNR.N', 'DG.N', 'GRMN.N', 'APTV.N', 'ABBV.N', 'REGN.OQ', 'GM.N', 'ZTS.N', 'NWSA.OQ', 'DAL.N', 'AME.N', 'VRTX.OQ', 'ALLE.N', 'META.OQ', 'MHK.N', 'TSCO.OQ', 'ESS.N', 'GOOG.OQ', 'AVGO.OQ', 'MLM.N', 'URI.N', 'UHS.N', 'RCL.N', 'HCA.N', 'SWKS.OQ', 'HSIC.OQ', 'AAL.OQ', 'EQIX.OQ', 'O.N', 'QRVO.OQ', 'JBHT.OQ', 'WRK.N', 'KHC.OQ', 'AAP.N', 'PYPL.OQ', 'ATVI.OQ', 'UAL.OQ', 'NWS.OQ', 'VRSK.OQ', 'HPE.N', 'SYF.N', 'ILMN.OQ', 'CHD.N', 'WTW.OQ', 'EXR.N', 'CFG.N', 'FRT.N', 'AWK.N', 'UDR.N', 'HOLX.OQ', 'CNC.N', 'ULTA.OQ', 'GPN.N', 'ALK.N', 'DLR.N', 'LKQ.OQ', 'AJG.N', 'TDG.N', 'ALB.N', 'LNT.OQ', 'FTV.N', 'MTD.N', 'CHTR.OQ', 'COO.N', 'MAA.N', 'IDXX.OQ', 'INCY.OQ', 'CBOE.Z', 'REG.OQ', 'DISH.OQ', 'SNPS.OQ', 'RJF.N', 'AMD.OQ', 'ARE.N', 'DXC.N', 'IT.N', 'RE.N', 'HLT.N', 'ALGN.OQ', 'ANSS.OQ', 'PKG.N', 'AOS.N', 'RMD.N', 'MGM.N', 'IQV.N', 'SBAC.OQ', 'DD.N', 'CDNS.OQ', 'NCLH.N', 'HII.N', 'TTWO.OQ', 'MSCI.N', 'EVRG.OQ', 'BR.N', 'FLT.N', 'CPRT.OQ', 'ANET.N', 'ROL.N', 'FTNT.OQ', 'KEYS.N', 'JKHY.OQ', 'LW.N', 'FANG.OQ', 'CE.N', 'FRC.N', 'TFX.N', 'ATO.N', 'WAB.N', 'FOXA.OQ', 'FOX.OQ', 'DOW.N', 'CTVA.N', 'AMCR.N', 'MKTX.OQ', 'TMUS.OQ', 'LDOS.N', 'IEX.N', 'CDW.OQ', 'NVR.N', 'LVS.N', 'NOW.N', 'WRB.N', 'ODFL.OQ', 'LYV.N', 'STE.N', 'ZBRA.OQ', 'PAYC.N', 'IR.N', 'CARR.N', 'OTIS.N', 'DPZ.N', 'DXCM.OQ', 'WST.N', 'BIO.N', 'TDY.N', 'TYL.N', 'TER.OQ', 'CTLT.N', 'ETSY.OQ', 'POOL.OQ', 'TSLA.OQ', 'ENPH.OQ', 'TRMB.OQ', 'MPWR.OQ', 'GNRC.N', 'NXPI.OQ', 'CZR.OQ', 'PTC.OQ', 'CRL.N', 'OGN.N', 'MRNA.OQ', 'TECH.OQ', 'MTCH.OQ', 'BRO.N', 'CDAY.N', 'EPAM.N', 'FDS.N', 'SEDG.OQ', 'CEG.OQ', 'NDSN.OQ', 'MOH.N', 'CPT.N', 'VICI.N', 'ON.OQ', 'KDP.OQ', 'INVH.N', 'CSGP.OQ', 'PCG.N', 'EQT.N', 'TRGP.N', 'ACGL.OQ', 'FSLR.OQ', 'STLD.OQ', 'GEHC.OQ', 'BG.N', 'PODD.OQ', 'FICO.N']

/Users/eugenemesgar/fintech/stockdata/utils/fidatabase.py:742: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  if index > index_date:

In [5]:
create_new_from_rdp = False

# Set options for workbook
series_name = "PriceIntrp"
#rdp_series_name = "TR.PriceClose"
#rdp_series_param = "Curn=USD"

In [6]:
output_df = pd.DataFrame()
series_metadata = {}


importlib.reload(fi)

if(create_new_from_rdp):
    end_date = pd.Timestamp.today().date()
    start_date = pd.Timestamp(year=end_date.year-30,month=1,day=1).date()

    output_df = fi.ReadTimeSeriesFromRDP(rd,rdp_series_name,rdp_series_param, start_date, end_date,rics_of_interest)
    output_df = fi.ClearDupes(output_df)

    
    series_metadata["series_name"] = series_name
    series_metadata["rdp_series_name"] = rdp_series_name
    series_metadata["rdp_series_param"] = rdp_series_param
    series_metadata["base_series"] = None
    series_metadata["update_function"] = None
    

    series_metadata["start_date"] = output_df.first_valid_index().date()
    series_metadata["end_date"] = output_df.last_valid_index().date()
    series_metadata["ric_list"] = rics_of_interest

    #fi.WriteSeriesToDB(db, series_metadata, output_df,True)
else:
    result = fi.UpdateSeries(rd,db, series_name)
    series_metadata = fi.GetSeriesMetadata(db, series_name)
    output_df = fi.ReadSeriesFromDB( db, series_name )

No new data to pull

In [7]:
# Find all the nan sequnces
sorted_key, run_hash= fi.FindNanRuns( output_df )


i=0
for val in enumerate(sorted_key):
    i+=1
    
    run_count = val[1][1]
    run_ric = val[1][0]
    if(run_count > 0):
        run_list = run_hash[run_ric]
        print(  "RIC: ", run_ric, " Missing: ", run_count)
        for j in range(0, min(5,len(run_list))):
            print(f"    {run_list[j][2]}: from {run_list[j][0]} to {run_list[j][1]}")

        if(i>30):
            break

In [ ]:
#Interoplate the data out
output_df.interpolate(method='time', inplace=True,limit_direction='both', limit_area='inside')

In [ ]:
sorted_key, run_hash= fi.FindNanRuns( output_df )

if( sorted_key[0][1] > 0 ):
    print("Error: There are still missing values in the data")

In [ ]:
# # Write the interpolated data to the database
importlib.reload(fi)

new_metadata = series_metadata.copy()

new_metadata["series_name"] = series_metadata["series_name"] + "Norm"
new_metadata["base_series"] =  series_metadata["series_name"]
new_metadata["rdp_series_name"] = None
new_metadata['rdp_series_param'] = None
new_metadata["update_function"] = "TransformSeriesToRangeCallback"

fi.UpdateSeriesMetadata(db, new_metadata["series_name"], new_metadata,True)

new_df = fi.ReadSeriesFromDB( db, new_metadata["series_name"] )

# result = fi.WriteSeriesToDB(db, new_metadata, output_df,True)

In [ ]:
importlib.reload(fi)

new_df = fi.ReadSeriesFromDB( db, "PriceIntrpNorm" )

In [ ]:
new_df["MSFT.OQ"].plot(figsize=(20,10))

In [ ]:
importlib.reload(fi)

#
# Truncate data series so we can update
#

if(~create_new_from_rdp):

    cds = db.cursor()
    
    # mdf = fi.GetSeriesMetadata(db, "Price")
    # mdf["end_date"] = pd.Timestamp(year=2023,month=3,day=14).date()

    # sql = f"DELETE FROM ts_Price WHERE ddate > '{mdf['end_date']}';"
    # cds.execute(sql)
    
    # result =fi.UpdateSeriesMetadata(db, "Price", mdf)


    # Update the derived series
    #mdf = fi.GetSeriesMetadata(db, "PriceIntrp")
    #mdf["end_date"] = pd.Timestamp(year=2015,month=3,day=14).date()

    #sql = f"DELETE FROM ts_PriceIntrp WHERE ddate > '{mdf['end_date']}';"
    #cds.execute(sql)

    #result = fi.UpdateSeriesMetadata(db, "PriceIntrp", mdf)

    #db.commit()



    #cds.close()

    #print(result)

In [ ]:
importlib.reload(fi)
fi.UpdateSeries( rd, db, "PriceIntrp" )

In [ ]:
# # Write to database
# def WriteSeriesToDB( db, series_metadata, new_df, new_series=False):

#     if(new_series==False):
#         mdf= fi.GetSeriesMetadata( db, series_metadata["series_name"] )
#         if( len(mdf) == 0) :
#             print("Series does not exist in database.  Please rerun w/ new_series=True.")
#             return False
        
#     series_name = series_metadata["series_name"]
#     rdp_series_name = series_metadata["rdp_series_name"]
#     rdp_series_params = series_metadata["rdp_series_param"]
#     start_date = series_metadata["start_date"]
#     end_date = series_metadata["end_date"]
#     ric_list = ",".join(series_metadata["ric_list"])
    
#     #rdp_series_name = "TR.PriceClose"
#     #rdp_series_params = "Curn=USD"
#     #start_date = new_df.first_valid_index().date()
#     #end_date = new_df.last_valid_index().date()
#     #ric_list = ",".join(rics_of_interest)

#     table_name=""

#     if(new_series==True):
#         table_name = fiutil.CreateNewSeriesTable( db, rics_of_interest, series_name )
#     else:
#         table_name = "ts_" + series_name


#     dbs = db.cursor()

#     header_sql = f"INSERT INTO {table_name}  ( ddate, "
#     for ric in  new_df.columns:
#         col = ric.replace(".", "_") 
#         header_sql = header_sql + col + ", "

#     header_sql = header_sql[:-2] 

#     row_count = len(new_df.index)

#     chunk_size = 90

#     for i in range(0, row_count, chunk_size):
#         sql = header_sql + ") VALUES \n"

#         next_chunk = min( row_count, chunk_size+i)

#         for j in range(i, next_chunk):
#             sql = sql + "('%s', " % (new_df.index[j].date())
#             for ric in  new_df.columns:
#                 val = new_df.at[new_df.index[j], ric]
#                 if( pd.isna(val) or math.isnan(val) ):
#                     sql = sql + "NULL, "
#                 else:
#                     sql = sql + f"{val:.2f}, "

#             sql = sql[:-2] 
#             sql = sql + "),\n"
            

#         sql = sql[:-2] 
#         sql = sql + ";"
        
#         #print(sql)
#         dbs.execute(sql)

#     meta_sql=""
#     if(new_series==True):
#         meta_sql = f"INSERT INTO TimeSeries_MetaData ( series_name, rdp_series_name, rdp_series_parms, start_date, end_date, ric_list ) VALUES "
#         meta_sql = meta_sql + f"('{series_name}', '{rdp_series_name}', '{rdp_series_params}', '{start_date}', '{end_date}', '{ric_list}');"
#     else:
#         meta_sql = f"UPDATE TimeSeries_MetaData SET end_date='{end_date}' WHERE series_name='{series_name}';"
    

#     dbs.execute(meta_sql)
#     db.commit()
#     dbs.close()
#     return True

In [ ]:
# Read file "S&P500PriceHistory.csv
# The file includes a header row
# Intrepret dates as dates
# The date column is the index

# if(pull_from_refinitiv==False):
#     output_df = pd.read_csv("S&P500PriceHistory.csv", parse_dates=['Date'], index_col='Date')
# else:
#     stamp = str(datetime.now())
#     output_file = f"S&P500PriceHistory-{start_date}-{end_date}-{stamp}.csv"
#     output_df.to_csv(output_file)
#     print("Wrote to", output_file)

In [ ]:
stamp = str(datetime.now())
output_file = f"CLEANED S&P500PriceHistory-{start_date}-{end_date}-{stamp}.csv"
new_df.to_csv(output_file)
print("Wrote to", output_file)

In [ ]:
# Plot new_df["MRO.N"] from 1990 to 1995

#interp_d2["CSCO.OQ"].plot(x="Date", ylim=[0,1.5], xlim=[pd.Timestamp(year=1990,day=1,month=1).date(),pd.Timestamp(year=1993,day=1,month=1).date()], y="MRO.N", figsize=(20,10), title="MRO.N")

In [ ]:
interp_df = new_df.copy()




#interp_d2 = interp_df.applymap( lambda x: np.nan if pd.isna(x) else float(x) )
                            
interp_df.interpolate(method='time', inplace=True,limit_direction='both', limit_area='inside')

new_df_old = new_df.copy()
new_df = interp_df

In [ ]:


new_df = new_df_old
#interp_d2["CSCO.OQ"].plot(x="Date", ylim=[0,1.5], xlim=[pd.Timestamp(year=1991,day=1,month=1).date(),pd.Timestamp(year=1991,day=1,month=1).date()], y="MRO.N", figsize=(20,10), title="MRO.N")

In [ ]:
# Commented Out -- Former code to write to database


# index = 0
# col_count = 0



# if(pull_from_refinitiv==True):

#     dbs = db.cursor()
#     db.begin()

#     for col in output_df.columns:
#         print(f"Processing column {col} ({col_count} of {len(output_df.columns)})")


#         col_count = col_count + 1
#         sql = ""
#         to_write = output_df[col].copy()
#         to_write.dropna(inplace=True)

#         first_col = 0
#         last_col = len(to_write)
        
        
#         chunk_size = 10000
        
        
#         for i in range(first_col, last_col, chunk_size):
#             sql = "INSERT INTO TimeSeries ( ric, series, variant, ddate, val ) VALUES " 
    

#             next_chunk = min( last_col, chunk_size+i)
#             for j in range(i, next_chunk):

#                 date_val = str(to_write.index[j].date())
#                 value_val = to_write[j]
#                 #my_data.append( ( col, "Price", "RDP", date_val, value_val) ) 

#                 sql = sql + f'("{col}", "Price", "RDP", "{date_val}", "{value_val:.2f}")'
#                 if( j < (next_chunk-1) ):
#                     sql = sql + ","
#                 else:
#                     sql = sql + ";"

#                 sql = sql + "\n"
        
        
#             ## Execute the sql statement stored in variable sql
#             dbs.execute(sql)
            
#     db.commit()
#     dbs.close()

In [ ]:
# # Write to database
# def WriteSeriesToDB( db, series_metadata, new_df, new_series=False):

#     if(new_series==False):
#         mdf= fiutil.GetSeriesMetadata( db, series_metadata["series_name"] )
#         if( len(mdf) == 0) :
#             print("Series does not exist in database.  Please rerun w/ new_series=True.")
#             return False
        
#     series_name = series_metadata["series_name"]
#     rdp_series_name = series_metadata["rdp_series_name"]
#     rdp_series_params = series_metadata["rdp_series_params"]
#     start_date = series_metadata["start_date"]
#     end_date = series_metadata["end_date"]
#     ric_list = ",".join(series_metadata["ric_list"])
    
#     #rdp_series_name = "TR.PriceClose"
#     #rdp_series_params = "Curn=USD"
#     #start_date = new_df.first_valid_index().date()
#     #end_date = new_df.last_valid_index().date()
#     #ric_list = ",".join(rics_of_interest)

#     table_name=""

#     if(new_series==True):
#         table_name = fiutil.CreateNewSeriesTable( db, rics_of_interest, series_name )
#     else:
#         table_name = "ts_" + series_name


#     dbs = db.cursor()

#     header_sql = f"INSERT INTO {table_name}  ( ddate, "
#     for ric in  new_df.columns:
#         col = ric.replace(".", "_") 
#         header_sql = header_sql + col + ", "

#     header_sql = header_sql[:-2] 

#     row_count = len(new_df.index)

#     chunk_size = 90

#     for i in range(0, row_count, chunk_size):
#         sql = header_sql + ") VALUES \n"

#         next_chunk = min( row_count, chunk_size+i)

#         for j in range(i, next_chunk):
#             sql = sql + "('%s', " % (new_df.index[j].date())
#             for ric in  new_df.columns:
#                 val = new_df.at[new_df.index[j], ric]
#                 if( pd.isna(val) or math.isnan(val) ):
#                     sql = sql + "NULL, "
#                 else:
#                     sql = sql + f"{val:.2f}, "

#             sql = sql[:-2] 
#             sql = sql + "),\n"
            

#         sql = sql[:-2] 
#         sql = sql + ";"
        
#         #print(sql)
#         dbs.execute(sql)

#     meta_sql=""
#     if(new_series==True):
#         meta_sql = f"INSERT INTO TimeSeries_MetaData ( series_name, rdp_series_name, rdp_series_parms, start_date, end_date, ric_list ) VALUES "
#         meta_sql = meta_sql + f"('{series_name}', '{rdp_series_name}', '{rdp_series_params}', '{start_date}', '{end_date}', '{ric_list}');"
#     else:
#         meta_sql = f"UPDATE TimeSeries_MetaData SET end_date='{end_date}' WHERE series_name='{series_name}';"
    

#     dbs.execute(meta_sql)
#     db.commit()
#     dbs.close()
#     return True

In [ ]:
# Commented Out -- Former code to read from database
#

# start_date=pd.Timestamp(year=2000,day=1,month=1)
# end_date=pd.Timestamp(year=2023,day=1,month=1)


# #Find the valid days in the calendar that there is data for
# valid_days = mcal.get_calendar('NYSE').schedule(start_date=start_date, end_date=end_date).index.to_list()

# # Create an empty dayaframe with the index & columns we want
# read_df = pd.DataFrame(np.nan, columns=rics_of_interest,index=valid_days)

# #Create the SQL statement to query the DB
# sql = "SELECT ric, ddate, val FROM TimeSeries WHERE variant = 'RDP' AND ddate >= '%s' AND ddate <= '%s'" % (start_date, end_date)


# #Read the SQL into a dataframe
# ts = time.perf_counter()
# raw_df = pd.read_sql(sql, db, parse_dates=True, coerce_float=True)
# te = time.perf_counter()

# print(f"Read {len(raw_df)} rows in {te-ts:0.4f} seconds")

# ts = time.perf_counter()



# for row in raw_df.itertuples():
#     read_df.at[ pd.Timestamp(row.ddate), row.ric ] = row.val


# te = time.perf_counter()
# print(f"Processed SQL to DF rows in {te-ts:0.4f} seconds")

# read_df.head()